@media all and (max-width: 670px) {
    .header-right .btn {
        font-size: 8px;
        margin-right: 5px;
        margin-top: 1px;
    }
    
    .services .service {
        font-size: 12px;
        width: 100%;
    }

    .header-left p {
        display: none;
    }

    input, textarea {
        width: 100%;
    }

    .darkmodebutton {
        margin-left: 8px;
      }

    .darkmodebutton button {
        box-sizing: border-box;
        background-color: rgb(175, 8, 8);
        color: black;
        border-radius: 5px;
        font-family: 'Monument';
        font-size: 13px;
      }
}

    

@media all and (max-width: 1000px) {
    .ideation {
        font-size: 30px;
        margin-top: 20px;
    }
}

@media all and (max-width: 350px) {
    .credential {
        font-size: 12px;
    }
    .darkmodebutton {
        margin-left: 8px;
    }

    .darkmodebutton button {
        box-sizing: border-box;
        background-color: rgb(175, 8, 8);
        color: black;
        border-radius: 5px;
        font-family: 'Monument';
        font-size: 10px;
      }

      .header-right .btn {
        font-size: 8px;
        margin-right: 2px;
        margin-top: 1px;
        padding: 0px;
    }
}
