* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lucida Grande';
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: center;
}

header {
    height: 65px;
    width: 100%;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 60px;
    margin-top: 3px;
    float: left;
}

.header-left p {
    font-size: 20px;
    padding-right: 20px;
    float: left;
    color: rgb(175, 8, 8);
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 10px;
}

.darkmodebutton {
    float: left;
    margin-top: 22px;
}

.darkmodebutton h5 {
    display: inline-block;
    /* background-color: rgb(175, 8, 8); */
    color: rgb(175, 8, 8);
    font-size: 15px;
    border: 1px solid rgb(175, 8, 8);
    border-radius: 2px;
    padding: 4px;
    font-family: 'Monument';
}

.darkmodebutton h5:hover {
    display: inline-block;
    /* background-color: rgb(175, 8, 8); */
    color: white;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 4px;
    font-family: 'Monument';
}

.header-right {
    float: right;
    transition: all 0.5s;
}

.btn-wrapper {
    margin-top: 20px;
}

.btn {
    padding: 5px 5px;
    color: white;
    display: inline-block;
    border-radius: 4px;
    margin-right: 14px;
    font-size: 13px;
}

.about:hover,
.projects:hover,
.clients:hover,
.contact:hover,
.circle:hover {
    background-color: white;
    color: rgb(175, 8, 8);
}

.top-wrapper {
    padding: 80px 0 80px 0;
    background-image: url(images/jelang-penayangan-maleficent-mistress-of-evil-disney-menggandeng-_191010193147-187.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    width: 100%;
}

.banner {
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}

.banner h1 {
    font-family: 'Monument Extended';
}

.banner p {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
}

.banner a {
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}

.banner a:hover {
    border: 1px solid rgb(175, 8, 8);
    color: rgb(175, 8, 8);
}

.konten-wrapper {
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(175, 8, 8);
    text-align: center;
    width: 100%;
}

.heading-konten {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.heading-konten h2 {
    font-weight: bolder;
    padding: 5px;
    border-radius: 10px;
    color: white;
    letter-spacing: 2px;
}

.service {
    float: left;
    width: 25%;
}

.service h3 {
    display: inline-block;
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
}

.service h3:hover {
    border: 1px solid black;
    color: black;
}

.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: white;
}

marquee p {
    margin-top: 60px;
    font-size: 50px;
    letter-spacing: 5px;
    color: white;
}

.experience-wrapper {
    text-align: center;
    width: 100%;
}

.heading-experience h2 {
    font-weight: bolder;
    font-size: 38px;
    display: inline-block;
    padding: 5px;
    padding-bottom: 25px;
    color: rgb(175, 8, 8);
    letter-spacing: 2px;
}

.experience p {
    color: rgb(175, 8, 8);
    font-size: 25px;
    font-weight: bolder;
}

.client-wrapper {
    /* margin-top: 20px; */
    text-align: center;
    width: 100%;
    padding-bottom: 75px;
    position: relative;
    padding-top: 60px;
}

.client-container {
    padding-top: 25px;
}

.client-container img {
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    width: 90px;
}

.experience img {
    width: 100%;
}

.contact-wrapper {
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 40px;
    text-align: center;
}

input,
textarea {
    width: 50%;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 5px;
    font-size: 12px;
    color: black;
    border: 1px solid #dee7ec;
}

.contact-submit {
    background-color: rgba(175, 8, 8, 0.8);
    color: white;
    cursor: pointer;
}

.contact-submit:hover {
    color: black;
    background-color: rgba(175, 8, 8, 1);
}

.contactus {
    color: black
}
.medsos img {
    width: 40px;
    float: center;
    padding-right: 14px;
    position: relative;
    cursor: pointer;
}

footer {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 10px;
    background-color: rgb(175, 8, 8);
    padding-top: 5px;
}

.dark-mode {
    background-color: black;
    background-image: url(images/Twinkle\ Stars.gif);
    /* border-bottom: 2px solid rgb(175, 8, 8); */
    /* border-top: 2px solid rgb(175, 8, 8); */
}

.dark-mode h2,
.dark-mode p {
    color: white;
}

.dark-mode h3:hover {
    color: rgb(175, 8, 8);
    border: 1px solid rgb(175, 8, 8);
}

.dark-mode h5:hover {
    color: rgb(175, 8, 8);
    border: 1px solid rgb(175, 8, 8);
}

.dark-mode h5 {
    color: white;
    border: 1px solid white;
}

.modal-content {
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(175, 8, 8);
    text-align: center;
}

.modal-body p {
    color: white;
    font-weight: normal;
    font-size: 40px;
}

.modal-body h4 {
    color: white;
    font-weight: normal;
    font-size: 15px;
}
